<div class="row">
  <div class="one-third column offset-by-one-third">
    <%= form_for :session, url: sign_in_path do |f| %>
      <%= f.label :email, 'Email Address' %>
      <%= f.text_field :email, class: 'u-full-width', autofocus: true %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, class: 'u-full-width' %>
      <%= f.submit 'Sign In', class: 'button-primary' %>
    <% end %>
  </div>
</div>
