<div class="row justify-content-md-center">
  <div class="col-md-5">
    <%= form_for @user, url: form_path do |f| %>
      <div class="form-group">
        <%= f.label :email, 'Email Address' %>
        <%= f.text_field :email, class: 'form-control', autofocus: true %>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :first_name, 'First Name' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit button_text, class: 'btn btn-lg btn-outline-info' %>
    <% end%>
  </div>
</div>
